body {
    --list-item-transition: 0.14s ease;
    --dms-icon-svg-transition: 0.2s ease;
}

@property --animations {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--animations: on) {
    .wrapper__2ea32 .link__2ea32,
    .container__91a9d,
    .channel__972a0,
    .side_aa8da2 .item_aa8da2,
    .member_c8ffbb,
    .link__972a0,
    .interactive__972a0 {
        transition:
            background-color var(--list-item-transition),
            border-color var(--list-item-transition),
            color var(--list-item-transition),
            opacity var(--list-item-transition);
        will-change: auto;
    }

    .unread__2ea32 {
        transition:
            background-color var(--list-item-transition),
            opacity var(--list-item-transition);
        will-change: auto;
    }
}
