.winButton_c38106 {
    width: calc(var(--window-control-size) + 16px) !important;
    height: calc(var(--window-control-size) + 10px) !important;
    border-radius: 8px;
}

.winButton_c38106 svg {
    width: var(--window-control-size);
    height: var(--window-control-size);
}
